@inherits System.Web.Mvc.WebViewPage

<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h2>This is a Secret Page </h2>
        <div>
            @foreach(var users in ((System.Security.Claims.ClaimsPrincipal)User).Claims)
            {
            <div>
                @users.Type  : @users.Value;
            </div>
            }
        </div>
    </div>
    <a href="/Auth/Logout">Logout</a>
</body>
</html>
